<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <title>BookWeb</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css2/main2.css' %}">
    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getToken('csrftoken');
    </script>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'store' %}">
            <img src="{% static 'images/logo.png' %}" alt="Logo" style="width: 120px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'store' %}">Home</a>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'blog-list' %}">Blog</a>
                    {% endif %}
                </li>
            </ul>

            <div class="form-inline my-2 my-lg-0">
                {% if user.is_authenticated %}
                    <!-- Display username and Profile link -->
                    <a href="{% url 'profile-detail' %}" class="btn btn-primary mr-2">
                        <i class="fas fa-user"></i> Hello, {{ user.username }}
                    </a>
                {% else %}
                    <!-- Show the "Let's Go" button if not logged in -->
                    <a href="{% url 'register' %}" class="btn btn-warning">Let's Go</a>
                {% endif %}
                <a href="{% url 'cart' %}">
                    <img id="cart-icon" src="{% static 'images/6+cart.png' %}" alt="Cart" style="width: 30px;">
                </a>
                <p id="cart-total" class="ml-2">{{ cartItems }}</p>
            </div>
        </div>
    </div>
</nav>

<div class="container" style="margin-top: 100px;">
    {% block content %}
    {% endblock %}
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script> <!-- FontAwesome for icons -->
<script type="text/javascript" src="{% static 'js/js.js' %}"></script>

</body>
</html>
