{% block content %}
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css2/register2.css' %}">
<div class="container">
    <h2>Sign Up</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
    <span>Already have an account? - </span>
    <span><a href="{% url 'login' %}"> Log in here</a></span>
    <br>
    <a href="{% url 'store' %}">Continue without registration</a>
</div>
{% endblock %}
